@mixin title {
  font-family: var(--font-title);
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title;
}

h1 {
  font-size: 3.91em;
}

h2 {
  font-size: 3.13em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.28em;
}

p {
  font-size: 1.02em;
  line-height: 1.6;
}
